    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">CommuniHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(home) {%>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                </ul>
            </div>
            <!-- Signup and Login Buttons -->
            <div class="navbar-buttons">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="signupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="signupDropdown">
                        <a class="dropdown-item" href="/userSignup">Sign Up as User</a>
                        <a class="dropdown-item" href="/communitySignup">Sign Up as Community</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="LoginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="LoginDropdown">
                        <a class="dropdown-item" href="/login">Login as User</a>
                        <a class="dropdown-item" href="/communityLogin">Login as Community</a>
                    </div>
                </div>
            </div>

            <%} else  if(community) {%>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="/communityDashboard">Dashboard</a>
                    </li>
                        <a href="/createEvent" class="nav-link">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="/createProject" class="nav-link">Create Project</a>
                    </li>
                </ul>
            </div>

                <a href="/logout" class="nav-link">logout</a>


            <%} else if(user) {%>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="/createPost" class="nav-link">Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a href="/createProject" class="nav-link">Create Project</a>
                        </li>
                    </ul>
                </div>
                <a href="/logout" class="nav-link">logout</a>
    <%} else if (both) {%>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <a href="/createEvent" class="nav-link">Create Event</a>
                        </li>
                <li class="nav-item">
                    <a href="/createProject" class="nav-link">Create Project</a>
                </li>
                </ul>
        </div>
        <a href="/logout" class="nav-link">logout</a>


            <% } %>
        </div>
    </nav>
